<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pacientes Registrados</title>
</head>
<body>

    <h1>Lista de Pacientes</h1>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>TA</th>
            <th>FC</th>
            <th>SpO₂</th>
            <th>Temp</th>
            <th>Glucosa</th>
            <th>fecha</th>
            <th>hora</th>
        </tr>

        {% for paciente in pacientes %}

        <tr>
            <td>{{ paciente[0] }}</td>
            <td>{{ paciente[1] }}</td>
            <td>{{ paciente[2] }}</td>
            <td>{{ paciente[3] }}</td>
            <td>{{ paciente[4] }}</td>
            <td>{{ paciente[5] }}</td>
            <td>{{ paciente[6] }}</td>
            <td>{{ paciente[7] }}</td>
            <td>{{ paciente[8] }}</td>
            <td>{{ paciente[9] }}</td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>