<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pacientes Registrados</title>
</head>
<body>

    <h1>Lista de Pacientes</h1>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>

        {% for paciente in pacientes %}

        <tr>
            <td>{{ paciente[0] }}</td>
            <td>{{ paciente[1] }}</td>
            <td>{{ paciente[2] }}</td>
        </tr>

        {% endfor %}

    </table>

</body>
</html>